.todo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 10px;
  padding: 5px;
  border: 3px solid teal;
  border-radius: 15px;
  width: 600px;
  text-align: center;
  display: inline-flex;
}

.input {
  width: 50%;
  height: 20px;
  padding-left: 10px;
  font-size: 18px;
  border: 2px solid #7ba7ab;
  border-radius: 15px;
  color: black;
  display: block;
}

.buttonCcontainer {
  width: 250px;
  display: inline-flex;
  align-items: center;
  float: right;
  margin-left: auto;
  margin-right: 0;
}
.button {
  width: 120px;
  height: 25px;
  font-size: 18px;
  background: #7ba7ab;
  border-radius: 15px;
  cursor: pointer;
}
